@model IEnumerable<EmployeeAttendance.BAL.Models.LogInVM>
@{
    ViewBag.Title = "EmployeeDashBoardList";
    TimeSpan workingHour = TimeSpan.Parse(("08:00:00").ToString());
}
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title text-center">DashBoard</h1>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <div class="">
                <table class="table text-justify">
                    <tr>
                        <th>Date</th>
                        <th>TimeIn</th>
                        <th>TimeOut</th>
                        <th>TotalTime</th>
                        <th>Status</th>
                    </tr>
                    @foreach (var item in Model)
                     {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Id)
         
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeOut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalTime)
                            </td>
                            <td>
                                @if (item.LeaveStatus != true)
                                {
                                    if (item.TotalTime >= workingHour)
                                    {
                                        <label class="text-success">8 Hours</label>
                                    }
                                    else
                                    {
                                        <label class="text-danger">Less Than 8 Hours</label>
                                    }
                                }
                                else
                                {
                                    <label class="text-primary">On Leave This Day</label>
                                }
                            </td>
                        </tr>
                     }
                </table>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" href="/DashBoard/Index"> > </a>
        </div>
    </div>
</div>

