@model IEnumerable<EmployeeAttendance.BAL.Models.LogInVM>
@{
    ViewBag.Title = "TimeRelatedToProject";
}
<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">
            <h1 class="panel-title text-center">Project Time</h1>
        </div>
    <div class="panel-body">
        <div class="jumbotron">
            <div class="">
                <table class="table text-justify">
                    <tr>
                        <th>Date</th>
                        <th>ProjectName</th>
                        <th>TimeIn</th>
                        <th>TimeOut</th>
                        <th>TotalTime</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Id)
                            @Html.HiddenFor(modelItem => item.LoginTimeId)
                            @Html.HiddenFor(modelItem => item.ProjectID)
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeOut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalTime)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
