@model IEnumerable<EmployeeAttendance.BAL.Models.leaveVM>
@{
    ViewBag.Title = "TimeDetails";
}

<h2>TimeDetails</h2>
<br />
<br />
<br />
<div class="jumbotron">
    <div class="">
        <table class="table text-justify">
            <tr>
                @*<th>TimeStatus</th>*@
                <th>ProjectName</th>
                <th>TimeIn</th>
                <th>TimeOut</th>
                <th>TotalTime</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ProjectID == null)
                        {
                            <label class="text-danger">TotalTime</label>
                        }
                        else
                        {
                            @*<label class=" text-danger">SingleProjectTime</label>
                         <td>*@
                             @Html.DisplayFor(modelItem => item.ProjectName)   
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalTime)
                    </td>

                </tr>
            }
        </table>
    </div>
</div>
<div class="form-group">
    @Html.ActionLink("Back To Index", "TotalTimeOfEmployees", "Employee", new { @class = "btn btn-primary" })
</div>
