@model IEnumerable<EmployeeAttendance.BAL.Models.LogInVM>
@{
    ViewBag.Title = "EmployeeDashBoardList";
    TimeSpan workingHour = TimeSpan.Parse(("08:00:00").ToString());

}
<br />
<br />
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title text-center">Attendance</h1>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <div class="">
                <table class="table text-justify">

                    <tr>
                        <th>Date</th>
                        <th>TimeIn</th>
                        <th>TimeOut</th>
                        <th>TotalTime</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.HiddenFor(modelItem => item.LoginTimeId)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeIn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeOut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalTime)
                            </td>
                            <td>
                                @if (item.LeaveStatus != true)
                                {
                                    if (item.TotalTime >= workingHour)
                                    {
                                        <label class="text-success">8 Hours</label>
                                    }
                                    else
                                    {
                                        <label class="text-danger">Less Than 8 Hours</label>
                                    }
                                }
                                else
                                {
                                    <label class="text-primary">On Leave This Day</label>
                                }
                            </td>
                            <td>
                                <input type="button" value="Display" onclick='Disp("@(item.LoginTimeId)")' />
                                @*@Html.ActionLink("Detail", "TimeRelatedToProject", "DashBoard", new { id = item.LoginTimeId }-->, new { @class = "btn btn-primary" }<!--)*@
                                @*<button type="button" class="btnDisplayData" data-date-id="@item.Date">Display</button>*@
                                @*<input type="submit" id="btnDisplayData"  name="submit" data="@(item.Date)" value="Display" />*@
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<div id="openpopup" style="display:none"></div>
<script>
    function Disp(LoginTimeId) {
        var x = $("#openpopup");
        x.load("/DashBoard/PopUp?LoginTimeId=" + LoginTimeId, function () {
            x.dialog({
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },
                modal: true,
                width: 700,
                height: 500,
                title: "List",
                resizable: false
            });
        });
    }
</script>



@*<script>

        $('.btnDisplayData').click(function () {
            debugger
            var Date = $(this).data('date-id');
            /*var FromDate = $('#startDate').val();*/
            /*alert(Date);*/
            $.ajax({
                type: "GET",
                url: "/DashBoard/TimeRelatedToProjec",
                data: {
                    Date: Date,
                },
                success: function (result) {
                    window.location.href = "/DashBoard/TimeRelatedToProject?Date=" + result;
                }
            });
        });

    </script>*@



